@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  margin:40px;
}
* {
  box-sizing: border-box;
}
input {
  display:block;
  width:100%;
  margin:10px 0;
  padding:10px;
}
.type-1 {
  border-radius:10px;
  border: 1px solid #eee;
  transition: .3s border-color;
}
.type-1:hover {
  border: 1px solid #aaa;
}